<div class="inbox-body jt76-padding-sides-xlg p-top-xs " data-ng-controller="logMessages as vm">
    <div class="row m-bottom-md">
        <div class="col-sm-3 m-bottom-sm">
            <h2 class="no-margin">
                LogMessages
            </h2>
        </div>

        <div class="col-sm-3">
            <div class="search-input">
                <input type="text" class="form-control input-sm inline-block"
                       data-ng-model="vm.logMessagesSearch"
                       data-ng-keyup="vm.logMessagesSearchFunction($event)">
                <a href="#" class="input-icon text-normal"><i class="ion-ios7-search-strong"></i></a>
            </div>
        </div>


        <div class="col-sm-6 text-right text-left-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order By <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="item in vm.order"><a data-ng-click="vm.orderBy(item)">{{item}}</a></li>
                    <li class="divider"></li>
                    <li><a data-ng-click="vm.orderBy('')">Reset</a></li>
                </ul>
            </div>
            <a class="btn btn-info" data-ng-click="vm.refreshLogMessages()">
                <i class="fa fa-refresh"></i>&nbsp;Refresh
            </a>
        </div>
    </div>

    <div class="pagination-row clearfix m-bottom-md">
        <div class="pull-left vertical-middle hidden-xs">{{vm.nFilteredLogMessagesCount}} / {{vm.nLogMessagesCount}} logMessages</div>
        <div class="pull-right pull-left-sm">
            <div class="inline-block vertical-middle m-right-xs" data-ng-show="vm.logMessagesPaging.bShow">Page {{vm.logMessagesPaging.nCurrentPage}} of {{vm.logMessagesPaging.nPageCount}}</div>
            <div class="inline-block vertical-middle m-right-xs" data-ng-show="!vm.logMessagesPaging.bShow">Search Mode</div>
            <pagination class="pagination vertical-middle" data-ng-show="vm.logMessagesPaging.bShow"
                        boundary-links="true"
                        on-select-page="vm.logMessagesPageChanged(page)"
                        total-items="vm.nLogMessagesCount"
                        items-per-page="vm.logMessagesPaging.nPageSize"
                        page="vm.logMessagesPaging.nCurrentPage"
                        max-size="vm.logMessagesPaging.nMaxPagesToShow"
                        class="pagination-sm"
                        previous-text="Prev"
                        next-text="Next"
                        first-text="First"
                        last-text="Last">
            </pagination>
        </div>
    </div>

    <div class="message-table table-responsive">
        <table class="table table-bordereds">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in vm.filteredLogMessages">
                    <td>
                        <div class="jt76-multiline">{{item.dtLocalCreated}}</div>
                    </td>
                    <td>
                        <div class="jt76-multiline">{{item.strLogMessage}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination-row clearfix m-bottom-md">
        <div class="pull-left vertical-middle hidden-xs">{{vm.nFilteredLogMessagesCount}} / {{vm.nLogMessagesCount}} logMessages</div>
        <div class="pull-right pull-left-sm">
            <div class="inline-block vertical-middle m-right-xs" data-ng-show="vm.logMessagesPaging.bShow">Page {{vm.logMessagesPaging.nCurrentPage}} of {{vm.logMessagesPaging.nPageCount}}</div>
            <div class="inline-block vertical-middle m-right-xs" data-ng-show="!vm.logMessagesPaging.bShow">Search Mode</div>
            <pagination class="pagination vertical-middle" data-ng-show="vm.logMessagesPaging.bShow"
                        boundary-links="true"
                        on-select-page="vm.logMessagesPageChanged(page)"
                        total-items="vm.nLogMessagesCount"
                        items-per-page="vm.logMessagesPaging.nPageSize"
                        page="vm.logMessagesPaging.nCurrentPage"
                        max-size="vm.logMessagesPaging.nMaxPagesToShow"
                        class="pagination-sm"
                        previous-text="Prev"
                        next-text="Next"
                        first-text="First"
                        last-text="Last">
            </pagination>
        </div>
    </div>

</div>